@font-face {
    font-family: "fraunces";
    font-style: normal;
    font-weight: 400;
    src: url("assets/fonts/fraunces/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf");
}
@font-face {
    font-family: "dm_sans";
    src: url("assets/fonts/dm-sans/DMSans-VariableFont_opsz,wght.ttf");
    font-weight: 400 600;
}
@font-face {
    font-family: "dm_mono";
    src: url("assets/fonts/dm-mono/DMMono-Regular.ttf");
    font-weight: 400 500;
}
@font-face {
    font-family: "fraunces_italic";
    font-style: italic;
    font-weight: 400;
    src: url("assets/fonts/fraunces/Fraunces-Italic-VariableFont_SOFT,WONK,opsz,wght.ttf");
}
:root{
    --neutral-900: hsl(33, 15%, 15%);
    --neutral-800: hsl(33, 22%, 20%);
    --neutral-700: hsl(32, 20%, 29%);
    --neutral-600: hsl(33, 17%, 41%);
    --neutral-400: hsl(36, 22%, 86%);
    --neutral-200: hsl(30, 24%, 93%);
    --neutral-100: hsl(35, 60%, 96%);
    --neutral-50: hsl(40, 60%, 98%);
    --neutral-0: hsl(0, 0%, 100%);
    --sun-500: hsl(42, 83%, 58%);
    --sun-300:hsl(44, 84%, 75%);
    --sun-200:hsl(45, 100%, 74%);
    --sun-50:hsl(41, 100%, 93%);
    --terracotta-700: hsl(15, 69%, 37%);
    --terracotta-600: hsl(15, 74%, 41%);
    --terracotta-500: hsl(18, 62%, 47%);
    --terracotta-400: hsl(22, 72%, 56%);
    --blue-500: hsl(230, 49%, 56%);
    --rose-500: hsl(340, 48%, 52%);
}
main{
    display: flex;
    flex-direction: column;
    background-color:var(--neutral-100);
}
body{
    display: grid;
    grid-template-columns: 265px 1fr; 
    min-height: 100vh;
    background-color: var(--neutral-100);
    margin: 0;
    font-family: "dm_sans", sans-serif;
    font-size: 14px;
}
/*sidebarS*/

.sidebar{
    display: flex;
    flex-direction: column;
    min-width: 200px;
    height: 100vh;
    background-color: var(--neutral-100);
    padding: 20px;
    border-right: 1px solid var(--neutral-400);
}
ul{
    list-style-type: none;
}
.baslik_logo{
    width: 40%;
}
.titles{
    border-top: 1px solid var(--neutral-400);
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 4px;
}
.title{
    border: 2px solid transparent;/*menu kayiyor*/
}
.title:hover{
    background-color: var(--neutral-0);
    border: 2px solid var(--terracotta-400);
    border-radius:50px;
    transition: border-color 0.2s;
}
.sidebar a{
    text-decoration: none;
    color: inherit;
}
.title a{
    display: flex;
    align-items: center;
    gap: 10px;
}
.card_address{
    display: flex;
    flex-direction: column;
    font-family: "dm_mono", sans-serif;
    text-transform: uppercase;
    margin-top: 15px;
    border-top: 1px dotted var(--neutral-400);
}
.card_weather{
    margin-top: auto;
    position: relative;
    flex-direction: column;
    background-color:var(--sun-200);
    border-radius: 10px;
    padding-left: 10px;
    overflow: hidden;
}
.sun_img{
    position: absolute;
    width: 100px;
    height: 100px;
    right: -28px;
    top: -28px;
}
.weather_temp{
    font-family: "fraunces", sans-serif;
    font-size: 20px;
}
.weather_title{
    text-transform: uppercase; 
    font-family: "fraunces", sans-serif;
}
.active {
    margin-top: 10px;
    background-color: var(--neutral-0);
    border-radius: 12px;
}
.notification{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: auto;
    background-color: var(--terracotta-600);
    color: var(--neutral-0);
    text-align: center;

}
/*sidebarF*/

/*mainS*/

/*headerS*/

.baslik_title{
    opacity: 0.5;
}
.button_container{
    display: flex;
    gap: 15px;
}
.baslik_button{
    background-color: white;
    border: 1px solid var(--neutral-400);
    border-radius: 50px;
    padding:10px;
    margin: 5px;
    cursor: pointer;
}

.header_ust{
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.baslik_button1{
    color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    border: 1px solid var(--neutral-400);
    padding:10px;
    margin: 5px;
    cursor: pointer;
}
.yazi{
    margin-left: 10px;
    font-size: 40px;
}
/*headerF*/

/*centerS*/
.card_container {
    display: flex;
    margin-top: 40px;
    align-items: stretch;
    padding: 20px;
}
.card1 {
    padding: 15px;
    flex: 1;
    background-color: var(--neutral-0);
    border-radius: 30px;
    transform: rotate(-4deg);
}
.card1_top{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted var(--neutral-400);
}

.card1_center1{
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-bottom: 1px dotted var(--neutral-400);
}
.card1_center2{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--neutral-700);
}
.card1_center2_right{
    font-family: "dm_mono", sans-serif;
}
.receipt_right_group{
    text-align: right;
}
.card1_bottom{
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}
.card2 {
    font-family:"fraunces", sans-serif;
    background-color: var(--terracotta-500);
    border-radius: 30px;
    flex: 1;
    color: var(--neutral-0);
    padding: 15px;
    transform: rotate(4deg);
    margin-left: -13px;
}
.card2_center_p1{
    font-family: "fraunces_italic", sans-serif;
    opacity: 0.7;
}
.hover_text{
    font-family: "dm_sans", sans-serif;
    text-transform: uppercase;
}
.heading_text{
    font-size:18px;
}
.card1_bottom_right .heading_text{
    font-size:24px;
}
.card1_center1 .heading_text{
    font-size:28px;
}
.card1 .label_text{
    font-size: 12px;
    opacity: 0.4;
}
/*centerF*/

/*bottomS*/
.card_container2{
    display: flex;
    gap: 15px;
}
.card_b1{
    background-color: var(--neutral-0);
    padding:20px;
    border-radius: 30px;
    flex: 1;
}
.card_b1_header_img{
    background-color: var(--terracotta-700);
    border-radius: 10px;
}
.card_b1_header{
    color: var(--terracotta-700);
    font-family: "dm_sans", sans-serif;
}

.card_b2{
    background-color: var(--neutral-0);
    padding:20px;
    border-radius: 30px;
    flex: 1;
}
.card_b2_header{
    font-family: "fraunces_italic", sans-serif;
    color: var(--blue-500);
}
.card_b2_header_img{
    background-color: var(--blue-500);
    border-radius: 10px;
}
.card_b3{
    background-color: var(--neutral-0);
    padding:20px;
    border-radius: 30px;
    flex: 1;
}
.card_b3_header{
    font-family: "dm_mono", monospace;
    color: var(--rose-500);
}
.card_b3_header_img{
    background-color: var(--rose-500);
    border-radius: 10px;
}
.heading_text{
    font-family: "fraunces", sans-serif;
}
.titles{
    font-family: "dm_sans", sans-serif;
}
.info2{
    font-family: "dm_sans", sans-serif;
}
/*bottomF*/
/*mainF*/



/*mediaS*/